<% include includes/header.html %>

<form action="" id="wish-form">
    <h1>What is your wish?</h1>
    <input type="text" name="name" id="name" placeholder="Name">
    <input type="text" name="message" id="message" placeholder="Message">
    <input type="text" name="email" id="email" placeholder="Email">
    <input type="submit">
</form>

<ul id="wishes">
    <% for(var i = 0; i < wishes.length; i++) {%>
       <li id="<%= wishes[i]._id %>"><%= wishes[i].message %></li>
    <% } %>
</ul>

<% include includes/footer.html %>