doctype 5
html
  head
    title= title
    meta charset="utf-8"
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', href='/assets/css/style.css')
    

  body
    block content
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='/assets/js/backbone/lib/underscore-min.js')
    script(src='/assets/js/backbone/lib/backbone-min.js')
    script(src="/socket.io/socket.io.js")
    script(src='/assets/js/do.js')