/*
 * Picdorsey Christmas
 * Main Stylesheet
*/


 /* Typography */

 /* Misc Styles */

.well-wrapper {
    padding: 25px;
    border-width: 1px;
    border: #DDD 1px solid;
    box-shadow: none;
}

#wish-table td.row-message {
    max-width: 400px;
}

#wish-table tr {
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

#wish-table tr.deleted {
    background-color: #F5F5F5;
    color: #A9A9A9;
    text-decoration: line-through;
}